# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
# Pods/

UIAnimationDirector.xcodeproj/xcuserdata/bruiswang.xcuserdatad/xcschemes/UIAnimationDirector.xcscheme
UIAnimationDirector.xcodeproj/xcuserdata/leixue.xcuserdatad/xcschemes/UIAnimationDirector.xcscheme
UIAnimationDirector.xcodeproj/xcuserdata/oukengen.xcuserdatad/xcschemes/UIAnimationDirector.xcscheme
UIAnimationDirector.xcodeproj/xcuserdata/shenme.xcuserdatad/xcschemes/UIAnimationDirector.xcscheme
UIAnimationDirector.xcodeproj/xcuserdata/shenmo.xcuserdatad/xcschemes/UIAnimationDirector.xcscheme
UIAnimationDirector.xcodeproj/xcuserdata/bruiswang.xcuserdatad/xcschemes/xcschememanagement.plist
UIAnimationDirector.xcodeproj/xcuserdata/leixue.xcuserdatad/xcschemes/xcschememanagement.plist
UIAnimationDirector.xcodeproj/xcuserdata/oukengen.xcuserdatad/xcschemes/xcschememanagement.plist
UIAnimationDirector.xcodeproj/xcuserdata/shenme.xcuserdatad/xcschemes/xcschememanagement.plist
UIAnimationDirector.xcodeproj/xcuserdata/shenmo.xcuserdatad/xcschemes/xcschememanagement.plist
UIAnimationDirector.xcodeproj/project.xcworkspace/xcuserdata/shenmo.xcuserdatad/WorkspaceSettings.xcsettings
UIAnimationDirector.xcodeproj/project.xcworkspace/xcuserdata/bruiswang.xcuserdatad/UserInterfaceState.xcuserstate
UIAnimationDirector.xcodeproj/project.xcworkspace/xcuserdata/leixue.xcuserdatad/UserInterfaceState.xcuserstate
UIAnimationDirector.xcodeproj/project.xcworkspace/xcuserdata/oukengen.xcuserdatad/UserInterfaceState.xcuserstate
UIAnimationDirector.xcodeproj/project.xcworkspace/xcuserdata/shenme.xcuserdatad/UserInterfaceState.xcuserstate
UIAnimationDirector.xcodeproj/project.xcworkspace/xcuserdata/shenmo.xcuserdatad/UserInterfaceState.xcuserstate
UIAnimationDirector.xcodeproj/xcuserdata/shenme.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
UIAnimationDirector.xcodeproj/xcuserdata/shenmo.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
UIAnimationDirector.xcodeproj/xcuserdata/bruiswang.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
UIAnimationDirector.xcodeproj/xcuserdata/leixue.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
UIAnimationDirector.xcodeproj/xcuserdata/oukengen.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
UIAnimationDirector.xcodeproj/xcuserdata/shenme.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
